[submodule "roles/number_cruncher"]
	path = roles/number_cruncher
	url = git@github.com:chomatz/number_cruncher.git
[submodule "roles/boot_loader"]
	path = roles/boot_loader
	url = git@github.com:chomatz/boot_loader.git
[submodule "roles/remote_management"]
	path = roles/remote_management
	url = git@github.com:chomatz/remote_management.git
[submodule "roles/time_synchronization"]
	path = roles/time_synchronization
	url = git@github.com:chomatz/time_synchronization.git
[submodule "roles/system_information"]
	path = roles/system_information
	url = git@github.com:chomatz/system_information.git
[submodule "roles/desktop_environment"]
	path = roles/desktop_environment
	url = git@github.com:chomatz/desktop_environment.git
[submodule "roles/linux_gaming"]
	path = roles/linux_gaming
	url = git@github.com:chomatz/linux_gaming.git
[submodule "roles/rpm_fusion"]
	path = roles/rpm_fusion
	url = git@github.com:chomatz/rpm_fusion.git
[submodule "roles/cli_customization"]
	path = roles/cli_customization
	url = git@github.com:chomatz/cli_customization.git
[submodule "roles/text_editor"]
	path = roles/text_editor
	url = git@github.com:chomatz/text_editor.git
