[defaults]

# path(s)
inventory = inventories
collections_path = collections
roles_path = roles
vault_password_file = keys/vault/unlock.txt

# fix(es)
display_skipped_hosts = false ; hide skipped tasks
interpreter_python = auto_silent ;  suppress warning about auto detected python interpreter
