[defaults]
display_skipped_hosts = false
inventory = inventories
vault_password_file = keys/vault/unlock.txt

bin_ansible_callbacks = true

collections_path = collections
roles_path = roles

# fixe(s)
interpreter_python = auto_silent ;  suppress warning about auto detected python interpreter
